{% extends "layout.html" %}

{% block content %}
            <h1> Stock List</h1>
            <!-- Filter form for stocks -->
            <form method="get">
                 <!-- Sends out request to index function and option chosen is stored under 'filter' -->
                <select name="filter">
                    <option value="">All Stocks</option>
                    <!-- The option parameter ensures the dropdown is correct with the current option -->
                    <option {% if request.query_params.filter == 'new_closing_highs' %} selected ='selected' {% endif %}
                    value="new_closing_highs">New Closing Highs</option>
                    <option {% if request.query_params.filter == 'new_closing_lows' %} selected ='selected' {% endif %}
                    value="new_closing_lows">New Closing Lows</option>
                    <option {% if request.query_params.filter == 'rsi_overbought' %} selected ='selected' {% endif %}
                    value="rsi_overbought">RSI Overbought</option>
                    <option {% if request.query_params.filter == 'rsi_oversold' %} selected ='selected' {% endif %}
                    value="rsi_oversold">RSI Oversold</option>
                    <option {% if request.query_params.filter == 'above_sma_20' %} selected ='selected' {% endif %}
                    value="above_sma_20">Above 20 SMA</option>
                    <option {% if request.query_params.filter == 'below_sma_20' %} selected ='selected' {% endif %}
                    value="below_sma_20">Below 20 SMA</option>
                    <option {% if request.query_params.filter == 'above_sma_50' %} selected ='selected' {% endif %}
                    value="above_sma_50">Above 50 SMA</option>
                    <option {% if request.query_params.filter == 'below_sma_50' %} selected ='selected' {% endif %}
                    value="below_sma_50">Below 50 SMA</option>
                </select>
                <input type="submit" />
            </form>
            
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Shortable</th>
                        <th>Price</th>
                        <th>RSI 14</th>
                        <th>SMA 20</th>
                        <th>SMA 50</th>
                    </tr>
                </thead>

                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <!-- Now display stock.name but put a link to it -->
                        <td><a href="/stock/{{ stock.symbol }}">{{ stock.name }}</a></td>
                        <td>
                            {% if stock.shortable %}
                                <i class="green check icon"></i>
                            {% else %}
                                <i class="red times icon"></i>
                            {% endif %}
                        </td>
                        <!-- The situation where the symbol is not in indicator values is if the symbol has no data for today's date (Cronjob hasn't updated yet) -->
                        {% if stock.symbol in indicator_values %}

<td>
    {% if indicator_values[stock.symbol].close is not none %}
        {{ indicator_values[stock.symbol].close | round(2) }}
    {% else %}
        N/A
    {% endif %}
</td>

<td>
    {% if indicator_values[stock.symbol].rsi_14 is not none %}
        {{ indicator_values[stock.symbol].rsi_14 | round(2) }}
    {% else %}
        N/A
    {% endif %}
</td>

<td>
    {% if indicator_values[stock.symbol].sma_20 is not none %}
        {{ indicator_values[stock.symbol].sma_20 | round(2) }}
    {% else %}
        N/A
    {% endif %}
</td>

<td>
    {% if indicator_values[stock.symbol].sma_50 is not none %}
        {{ indicator_values[stock.symbol].sma_50 | round(2) }}
    {% else %}
        N/A
    {% endif %}
</td>
{% else %}
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
<td>N/A</td>
{% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}

